.Input {
    background: none;
    border: none;
    padding: 5px;
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    border-radius: 4px;
    width: 100%;
}

.Input:focus {
    outline:none;
}

.Label {
    color: var(--color-secondary);
    display: block;
    text-align: left;
    font-size: 0.7em;
    margin-bottom: 0;
}

.Required {
    vertical-align: text-top;
    font-size: 0.7em;
}
